* {
    margin: 0; 
}
body {
    text-align: center;
    background: linear-gradient(rgba(231, 224, 33, 0.705), rgb(123, 6, 6),rgb(35, 242, 35));
    width: 100%;
    height: 125vh; 
}
h1 {
    color: white;
    font-weight: 700;
    font-size: 2em;
}
.tamaño1 {
    color: white;
    font-weight: 700;
    font-size: 2em;
}
.tamaño {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
}
.input1 {
    align-items: center;
    display:block;
    justify-content: center;
    margin-top: 30px;
}
.input2 {
    display:block;
    justify-content: center;
    margin-top: 30px;
}
h1 {
    text-align: center;
    display: flex;
    justify-content: center;
}
.total1{
    display: inline-block;
}
