h1{
    background-color: rgba(124, 156, 198, 0.656);
    color: rgb(0, 110, 255);
}
h2{
    color: black;
    background-color: rgba(86, 85, 85, 0.872);
}
h3{
    color: rgb(0, 255, 170);
    background-color: rgba(174, 243, 238, 0.787);
}
.box{
    width: 360px;
    height: 340px;
    padding: 0.5% 0 0;
    margin: 150px 150px 150px 150px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    border-radius: 20px;
}
body{
    background-color: rgba(255, 249, 140, 0.724);
}
.nombre{
    text-decoration: none;
    color: black;
}
