* {
    margin: 0; 
}
body {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.658),rgb(255, 230, 0), rgba(0, 60, 255, 0.788),rgb(255, 0, 0),rgb(0, 0, 0));
    width: 100%;
    height: 125vh; 
}
h1 {
    color: rgb(148, 9, 9);
    font-weight: 700;
    font-size: 2em;
}
p{
    color: rgb(0, 0, 0);
}
button{
    background-color: rgba(172, 97, 97, 0.678);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0;
    
}
input{
    background-color: rgba(255, 217, 0, 0.753);
    /* border-bottom: 1px rgb(148, 9, 9); */
    border: 0;
    border-radius: 40px;
}

