*{
    margin: 0;
    padding: 0;
}
.a,img{
    list-style: none;
    /* background-color: rgb(246, 246, 245); */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgba(32, 2, 2, 0.836);
    float: right;
    cursor: pointer;
    
}
.img{
    float: left;
}
ul{
    margin-bottom: 10px;
}
.a{
    padding: 25px;
    /* border: 1px solid rgb(146, 146, 146); */
}
.a:hover{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    border-radius: 15px;
}
.menu {
    display: none;
    float: right;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: #000000   ;
}
@media only screen and (max-width: 1000px) {
    /* desaparecemos el menú */
    .a{
        display: none;
        
    }
    .menu {

        display: inline-block;
        /* color: rgb(0, 0, 0); */
        font-size: 2.3em;
        margin-top: 10px;
        margin-left: 25px;
    }
}