*{
    padding: 0;
    margin: 0;
}
.menu{
    margin-left: 200px;
    margin-right: 200px;
    background-color: aliceblue;
}
.a{
    list-style: none;
    width: 400px;
    background-color: rgb(100, 100, 100);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    border-radius: 4px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.836);
    border: none;
}
select{    list-style: none;
    width: 390px;
    background-color: rgb(100, 100, 100);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    border-radius: 4px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.836);
    border: none;
}
body{
    /* background-color: antiquewhite;
    margin-left: 200px;
    margin-right: 200px; */
}
.b{
    list-style: none;
    /* width: 400px; */
    background-color: rgb(246, 246, 245);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    border-right: 1px solid rgb(72, 255, 0);
    margin: 5px;
    color: rgba(32, 2, 2, 0.836);
    display: block;
    float: left;
}

.c:hover{
    background-color: rgba(80, 80, 80, 0.838);
    color: white;
}
nav li ul{
    display: none;
    margin: auto;
}
nav li:hover > ul {
    display: block;
}
.header{
    background-color: blue;
}
header{
    background-color: blue;
}