*{
    padding: 0;
    margin: 0;
}
.menu1{
    margin-left: 200px;
    margin-right: 200px;
    background-color: aliceblue;
    margin-top: 170px;
    cursor: pointer;
}
.a{
    list-style: none;
    width: 400px;
    background-color: rgb(100, 100, 100);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    border-radius: 4px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.836);
    border: none;
    cursor: pointer;
}
select{    list-style: none;
    width: 390px;
    background-color: rgb(100, 100, 100);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    border-radius: 4px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.836);
    border: none;
    cursor: pointer;
}
.b{
    list-style: none;
    background-color: rgb(246, 246, 245);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    border-right: 1px solid rgb(72, 255, 0);
    margin: 5px;
    color: rgba(32, 2, 2, 0.836);
    display: block ;
    float: left;
    cursor: pointer;
}

.c:hover{
    background-color: rgba(80, 80, 80, 0.838);
    color: white;
}
.nav2 li ul{
    display: none;
    margin: auto;
}
.nav2 li:hover > ul {
    display: block;
    cursor: pointer;
}
.c{
    list-style: none;
    background-color: rgb(246, 246, 245);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    margin: 5px;
    color: rgba(32, 2, 2, 0.836);
}
.nav2 {
    text-align: center;
    align-items: center;
  position: fixed;
  top: 30px;
  width: 100%;
}
.menu2{
    margin-left: 200px;
}
