*{
    margin: 0;
    padding: 0;
}
.img{
    float: left;
    list-style: none;
}
.main-nav{
    background-color: rgba(64,64,64);
    height: 120px;
}
.main-menu{
    width: 100%;
    text-align: right;
}
.item-style{
    display: inline-block;
    line-height: 70px;
    margin: 0 30px;
    list-style: none;
    padding-top: 30px;
}
.item-style-last{
    margin-right: 100px;
}
a{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}
.hamburguer-menu{
    display: none;
}
@media only screen and (max-width: 1000px) {
    /* desaparecemos el menú */
    .main-menu{
        display: none;
    }
    .main-menu-block{
        
        display: block;
        background-color: rgba(48,48,48,.8);
        padding: 25px;
        height: 600px;
    }
    .item-style{
        display: block;
    }
    .hamburguer-menu{
        display: inline-block;
        color: white;
        font-size: 2.3em;
        margin-top: 10px;
        margin-left: 25px;
        float: right;
        padding: 20px;

    }
    .hamburguer-menu:hover{
        cursor: pointer;
    }
}