*{
    font-family: tahoma, serif;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
th,td{
    border:1px solid rgb(64,64,64);
    padding: 10px 15px 8px 15px;
    text-align: center;
}
table{
    border-radius: 20px;
   /* border-collapse: collapse;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
.table-box{
    display: flex;
    justify-content: center
}
.dc-color{
    background-color: blue;
    border-top-left-radius: 20px;
    color: white;
}
.dc-colo{
    background-color: blue;
    border: 20px;
    color: white;
}