*{
    font-family: tahoma, serif;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
th,td{
    border:1px solid rgb(64,64,64);
    padding: 10px 15px 8px 15px;
    text-align: center;
    color: white;
}
table{
    border-radius: 20px;
   /* border-collapse: collapse;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
.table-box{
    display: flex;
    justify-content: center
}
.dc-color{
    background-color: rgba(88, 88, 244, 0.818);
    border-top-left-radius: 20px;
    color: white;
}
.dc-colo{
    background-color: rgba(88, 88, 244, 0.818);
    border: 20px;
    color: white;
}
.letraNegra{
    color: black;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.naranja{
    background-color: orange;
}
.morado{
    background-color: blueviolet;
    border-top-right-radius: 20px;
}
.letraNegra1{
    color: black;
    border-bottom-right-radius: 20px;
}
.dc-col{
    border-bottom-left-radius: 20px;
    background-color: rgba(88, 88, 244, 0.818);
    border: 20px;
    color: white;
}