*{
    font-family: 'Gill Sans', sans-serif;
}
.toggle-box-on{
    width: 250px;
    height: 120px;
    background-color: rgb(87, 87, 87);
    border-radius: 55px;
    transition: all 400ms ;
    cursor: pointer;
}
.toggle-box-off{
    width: 250px;
    height: 120px;
    border-radius: 55px;
    transition: all 400ms ;
    cursor: pointer;
    background-color: rgb(36, 216, 0);
}
.choice-box-off{
    position: relative;
    width: 110px;
    height: 110px;
    left: 5px;
    top: -32px;
    border-radius: 55px;
    background-color: rgb(255, 255, 255);
    transition: all 400ms;
}
.choice-box-on{
    position: relative;
    width: 110px;
    height: 110px;
    left: 132px;
    top: -32px;
    border-radius: 55px;
    background-color: rgb(141, 0, 0);
}
.text-on-off{
    font-size: 2em;
    font-weight: 700;
    color: white;
}
.text-on{
    position: relative;
    top: 39px;
    left: 170px;
}
.text-off{
    position: relative;
    top: 39px;
    left: -30px;
}